body {
    font-family: Arial;
    padding: 10px;
    font-size: 14px;
    background-image: url('../designimages/gradingbackground.png');
}






input,select,.info,button {
    display: block;
    margin: 10px 0;
}

.myDIV {
    width: 100%;
    height: auto;
}

a {
    color: white;
}

.special {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

/*CSS för Uploadknappen*/
img {
    width: 300px;
    height: auto;
}

.logo img {
    height: 422px;
    width: 600px;
    padding-bottom: 40px;
    padding-top: 1px;
    max-width: 100%;
    height: auto;
}

input[type=file] {
    padding: 10px;
    background: white;
    height: auto;
    width: auto;
}

#blah{
    width:300px;
    height: auto;
}
.col-12 {
    background: white;
    border-color: #ff6a00;
    height: 100%;
    border-left: solid 1px;
    border-right: solid 1px;
}