<form method="post" enctype="multipart/form-data" asp-action="UploadFile">
    <input type='file' name='file' />
    <input type="submit" value="Upload" />
    <img id="blah" src="http://placehold.it/180" alt="your image" />
</form>